In [2]:
import pandas as pd
import numpy as np

In [3]:
#lets get the iris data
iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')

In [4]:
#most of the time we will change the string data into numeric data.

In [7]:
df = iris.copy()

In [8]:
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [9]:
df.columns = ['sl','sw','pl', 'dl', 'flower_type']

In [11]:
df['gender'] = 'Famale'
df.iloc[::7, 5] = 'Male'
df.head()

    sl   sw   pl   dl  flower_type  gender
0  4.9  3.0  1.4  0.2  Iris-setosa    Male
1  4.7  3.2  1.3  0.2  Iris-setosa  Famale
2  4.6  3.1  1.5  0.2  Iris-setosa  Famale
3  5.0  3.6  1.4  0.2  Iris-setosa  Famale
4  5.4  3.9  1.7  0.4  Iris-setosa  Famale

In [13]:
def convert_string(s):
    if s == 'Male':
        return 1
    return 0
df['sex'] = df.gender.apply(convert_string)
del df['gender']
df.head()

    sl   sw   pl   dl  flower_type  sex
0  4.9  3.0  1.4  0.2  Iris-setosa    1
1  4.7  3.2  1.3  0.2  Iris-setosa    0
2  4.6  3.1  1.5  0.2  Iris-setosa    0
3  5.0  3.6  1.4  0.2  Iris-setosa    0
4  5.4  3.9  1.7  0.4  Iris-setosa    0

In [14]:
#this is how you convert the strigs to numeric.
#if the string is a categorical data, then it is easy to convert, but for some case it is not possible.